language: objective-c
osx_image: xcode10.1
os: osx
sudo: true
cache: 
  - bundler
  - cocoapods
rvm:  
  - 2.1.0
env:
    global:
        - LC_CTYPE=en_US.UTF-8
        - LANG=en_US.UTF-8
  
podfile: ./Tests/Podfile

before_install:
  - sudo gem install xcpretty-travis-formatter
  - sudo gem install cocoapods -v '1.5.3'
  - cd ./Tests && pod update && cd ..

script:
  - set -o pipefail
  - xcodebuild -workspace './Tests/ChatEngine Tests.xcworkspace' -scheme '[Test] Code Coverage (Full)' -configuration Debug -destination 'platform=iOS Simulator,name=iPhone 7,OS=12.1' build test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=YES | xcpretty -f `xcpretty-travis-formatter`

after_success:
  - bash <(curl -s https://codecov.io/bash)

after_failure:
 - cat -n ~/Library/Logs/scan/*
 - cat -n $TMPDIR/com.apple.dt.XCTest-status/Session*.log
 - cat -n ~/Library/Logs/DiagnosticReports/xctest*.crash
